@import url("./comiccontainer.css");


.navbar {
    display: flex;
    background-color: #212121;
    justify-content: space-around;
}
.navbar .navbar-item {
    width: 200px;
    height: 50px;
}
.navbar .navbar-item a {
    color: #fff;
    text-decoration: none;
}
h1 {
    text-align: center;
}

